*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
 body{
 height: 100%;
 width: 100%;
}
body{ 
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: black;
 gap: 20px;
 flex-wrap: wrap;

 
}
#card{
    height: 300px;
    width: 200px;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    
}
#card img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    object-position: top;
}

#card button{
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(223, 215, 215);
}