*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
#box{
    height:200px ;
    width: 200px;
    background-color: rgb(90, 54, 54);
    border-radius: 50%;
    
}
button{
 padding: 10px;  
 border-radius: 10px; 
 font-size: 10px;
}