*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
}
#btn1{
    padding: 20px 30px;
    background-color: bisque;
}
#btn2{
    padding: 20px 30px;
    background-color: bisque;
}