*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body{
 height: 100%;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 40px;
 background-color: black;
}
img{
    height: 400px;
    object-fit: cover;
}
button{
    padding: 10px 20px;
    background-color: skyblue;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    color: white;
}
button:active{
    scale: 0.95;
}