*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
body,html{
height: 100%;
width: 100%;
}
body{
    background-color: black;
   display: flex;
   align-items: center;
   justify-content: center;
}
#card{
    background-color: #EDF7FB;
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;

}
h2{
    color: red;
}
#card button{
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  margin-top: 20px;
}