*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.container{
    height: 100vh;
    background-color: #BFBFBF;
    position: relative;
}
    
.profile_card{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    width: 400px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    transition: 0.5s;
}
.profile_card img{
    width: 150px;
    border-radius: 50%;
}
.profile_card .name{
    font-size: 25px;
    
}
.profile_card .text{
   margin-bottom: 10px;
   font-weight: 500;
}
.profile_card .about{
   margin-bottom: 10px;
   color: rgb(76, 75, 75);


}
.profile_card .logos {
margin: 20px;
display: flex;
align-items: center;
justify-content: space-evenly;

}
.logos span{
    font-size: 20px;
    cursor: pointer;
}
.btn {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  
}

.btn button{
    flex: 1;
    padding: 15px;
    font-size: 17px;
    font-weight: 600;
    background-color: white;
    border-radius: 10px;
}